body {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
#container {
  margin: 0;
  padding: 1em;
  width: -moz-max-content;
}
input {
  margin:3px 0;
}
.help {
  font-size: smaller;
  text-align: right;
}
.help a {
  cursor: help;
}
