body {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -moz-user-select: none;
}
#container {
  margin: 0;
  padding: 1em;
  width: -moz-max-content;
}
input {
  margin:3px 0;
}
.switch {
  float: right;
  margin-left: .25em;
}
#enabled {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch label {
  border-radius: .25em;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  outline: none;
  overflow: hidden;
  padding: 2px;
  position: relative;
  width: 3em;
}
.switch label:before,
.switch label:after {
  backface-visibility: hidden;
  border-radius: .25em;
  bottom: 0;
  color: #fff;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: transform 0s;
}
.switch label:before {
  background: #c00;
  content: "off";
}
.switch label:after {
  background: #27aa65;
  content: "on";
  transform: rotateY(180deg);
}
#enabled:checked + label:before {
  transform: rotateY(180deg);
}
#enabled:checked + label:after {
  transform: rotateY(0);
}
.options {
  float: left;
}
.help {
  clear: both;
  font-size: smaller;
}
.help a {
  cursor: help;
}
