body {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -moz-user-select: none;
}
#container {
  margin: 0;
  padding: 1em;
  width: -moz-max-content;
}
input {
  margin:3px 0;
}
.switch {
  float: right;
  margin-left: .25em;
}
#enabled {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch label {
  background: #c00 url("glyphicons-64-power.png") no-repeat 6px 5px/20px 20px;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 32px;
  width: 32px;
}
#enabled:checked + label {
  background-color: #27aa65;
}
.options {
  float: left;
}
.help {
  clear: both;
  font-size: smaller;
}
.help a {
  cursor: help;
}
